body {
    background-color: #f2f2f2; 
    font-family: "Press Start 2P";
}

h1, h2 {
    color: black;
}

a {
    color: #3d9c56;
   
}

a:hover {
    color: #99bfa6;
}

.btn-info {
    background-color: #3d9c56;

}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: #343a40;
}

#finalScore {
    font-family: "Press Start 2P";
    font-weight: bold;
}

span {
    font-family: "Press Start 2P";
}

p {
    font-family: "Press Start 2P";
}

#questionHeader {
    font-size: 20px;
    font-family: "Press Start 2P";
}

#answerCheck {
    font-style: italic;
    color: #4D5159;
}